<div class="container">
    <div class="d-flex flex-column justify-content-center m-3 p-2 shadow-lg rounded">
        <div class="d-flex justify-content-between">
            <div class="p-2 text-black">
                <h4>Update Book</h4>
                <hr>
            </div>
        </div>
        <div>
            <form [formGroup]="bookFormData" (ngSubmit)="updateData()">
            <div class="d-flex flex-row ">
                <div class="form-group m-2 w-50">
                    <label for="Title" class="mb-2">Title</label>
                    <input
                        #Title
                        id="Title"
                        name="Title"
                        formControlName="Title"
                        class="form-control"
                    />
                    <span style="color: red;" *ngIf="getControl('Title') && getControl('Title')?.invalid && getControl('Title')?.touched">This field is required</span>
                </div>
                <div class="form-group m-2 w-50">
                    <label for="Isbn" class="mb-2">ISBN</label>
                    <input
                        #Isbn
                        type="number"
                        id="Isbn"
                        name="Isbn"
                        formControlName="Isbn"
                        class="form-control"
                        maxlength="13"
                    />
                    <span style="color: red;" *ngIf="getControl('Isbn') && getControl('Isbn')?.invalid && getControl('Isbn')?.touched">This field is required and should have 13 digits</span>
                </div>
                <div class="form-group m-2 w-50">
                    <label for="Isbn" class="mb-2">Price</label>
                    <input
                        #Price
                        type="number"
                        id="Price"
                        name="Price"
                        formControlName="Price"
                        class="form-control"
                        maxlength="13"
                    />
                    <span style="color: red;" *ngIf="getControl('Price') && getControl('Price')?.invalid && getControl('Price')?.touched">This field is required</span>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row ">
                <div class="form-group m-2 w-50">
                    <label for="ActualQuantity" class="mb-2">Actual Quantity</label>
                    <input
                        #ActualQuantity
                        type="number"
                        id="ActualQuantity"
                        name="ActualQuantity"
                        formControlName="ActualQuantity"
                        class="form-control"
                    />
                    <span style="color: red;" *ngIf="getControl('ActualQuantity') && getControl('ActualQuantity')?.invalid && getControl('ActualQuantity')?.touched">This field is required</span>
                </div>
                <div class="form-group m-2 w-50">
                    <label for="AvailableQuantity" class="mb-2">Available Quantity</label>
                    <input
                        #AvailableQuantity
                        type="number"
                        id="AvailableQuantity"
                        name="AvailableQuantity"
                        formControlName="AvailableQuantity"
                        class="form-control"
                        maxlength="13"
                    />
                    <span style="color: red;" *ngIf="getControl('AvailableQuantity') && getControl('AvailableQuantity')?.invalid && getControl('AvailableQuantity')?.touched">This field is required</span>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row">
                <div class="form-group m-2 w-50">
                    <label for="BookAuthId" class="mb-2">Author</label>
                    <select
                        #BookAuthId
                        id="BookAuthId"
                        name="BookAuthId"
                        formControlName="BookAuthId"
                        class="form-control"
                    >
                    <option value="" disabled>Select Author</option>
                    <option *ngFor="let author of authors" [value]="author.AuthId">{{author.AuthName}}</option>
                    </select>
                    <span style="color: red;" *ngIf="getControl('BookAuthId') && getControl('BookAuthId')?.invalid && getControl('BookAuthId')?.touched">Please select an Author</span>
                </div>
                <div class="form-group m-2 w-50">
                    <label for="BookCatId" class="mb-2">Category</label>
                    <select
                        #BookCatId
                        id="BookCatId"
                        name="BookCatId"
                        formControlName="BookCatId"
                        class="form-control"
                        
                    >
                        <option value="" disabled>Select Category</option>
                        <option *ngFor="let category of categories" [value]="category.CatId">{{category.CatName}}</option>

                    </select>
                    <span style="color: red;" *ngIf="getControl('BookCatId') && getControl('BookCatId')?.invalid && getControl('BookCatId')?.touched">Please select a Category</span>
                </div>
            </div>
            <hr>
                <button type="submit" class="btn btn-primary m-2 p-2" style="width: 100px;" [disabled]="bookFormData.invalid">Update</button>
            </form>
        </div>
    </div>
</div>
