<div class="container">
    <div class="d-flex flex-column justify-content-center m-3 p-2 shadow-lg rounded">
        <div class="d-flex justify-content-between ">
            <div class="p-2 text-black ">
                <h4 class="heading">View Books</h4>
            </div>
            <div class="mx-2 my-2">
                <button class="btn btn-primary" (click)="navigateToSpecificRoute()">Add Book</button>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-left">Title</th>
                        <th scope="col" class="text-left">ISBN</th>
                        <th scope="col" class="text-left">Category</th>
                        <th scope="col" class="text-left">Author</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Actual Q.</th>
                        <th scope="col" class="text-center">Avaiable Q.</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books;index as i">
                        <th scope="row">{{ book.BookId }}</th>
                        <td class="text-left">{{ book.Title }}</td>
                        <td class="text-left">{{book.Isbn}}</td>
                        <td class="text-left">{{ book.CatName }}</td>
                        <td class="text-left">{{ book.AuthName }}</td>
                        <td class="text-center">{{ book.Price }}</td>
                        <td class="text-center">{{ book.ActualQuantity }}</td>
                        <td class="text-center">{{ book.AvailableQuantity }}</td>
                        <td class="text-center" [ngStyle]="{'color': book.Status===1? 'green' : 'red'}">{{
                            book.Status===1? 'Active' :'Deactivated' }}</td>
                        <td class="text-center">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <fa-icon [icon]="updateIcon" [size]="sizeIcon" [style.color]="'black'" class="m-1"
                                        style="font-size:20px"
                                        (click)="goToUpdateView(book.BookId)"></fa-icon>
                                    <fa-icon class="m-1" [icon]="trashIcon" [style.color]="'rgb(195, 41, 41)'" style="font-size:20px"
                                        (click)="deleteBook(book)"></fa-icon>
                                </div>
                                <div >
                                    <ng-toggle [value]="book.toggleValue" [color]="{
                                        unchecked: 'rgb(184, 16, 16)',
                                        checked: '#067e00',                       
                                    }" (change)="toggleChanged(book.BookId)" ></ng-toggle>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>