<div class="container">
    <div class="d-flex flex-column justify-content-center m-3 p-2 shadow-lg rounded">
        <div class="d-flex justify-content-between ">
            <div class="p-2 text-black ">
                <h4 class="heading">View Authors</h4>
            </div>
            <div class="mx-2 my-2" *ngIf="roleId===1">
                <button class="btn btn-primary" (click)="navigateToSpecificRoute()">Add Author</button>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center" *ngIf="roleId===1">Status</th>
                        <th scope="col" class="text-center" *ngIf="roleId===1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let author of authors;index as i">
                        <th scope="row">{{ from+i }}</th>
                        <td class="text-center">{{ author.AuthName }}</td>
                        <td *ngIf="roleId===1" class="text-center" [ngStyle]="{'color': author.Status===1? '#067e00' : 'rgb(184, 16, 16)'}">{{
                            author.Status===1? 'Active' :'Deactivated' }}</td>
                        <td class="text-center" *ngIf="roleId===1">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <fa-icon [icon]="updateIcon" style="font-size:20px" [style.color]="'black'" class="m-1"
                                    (click)="goToUpdateView(author.AuthId)"></fa-icon> 
                                <fa-icon class="m-1" [icon]="trashIcon" [style.color]="'rgb(184, 16, 16)'"  style="font-size:20px"
                                    (click)="deleteAuthor(author)"></fa-icon>
                                </div>
                                <div >
                                    <ng-toggle [value]="author.toggleValue" [color]="{
                                        unchecked: 'rgb(184, 16, 16)',
                                        checked: '#067e00',                       
                                    }" (change)="toggleChanged(author.AuthId)" ></ng-toggle>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container d-flex justify-content-end">
            <ngb-pagination [collectionSize]="pageSize" [(page)]="page" (pageChange)="pageChange($event)" aria-label="Default pagination"></ngb-pagination>

        </div>
    </div>

</div>